absl-py==2.3.1
astunparse==1.6.3
certifi==2025.8.3
charset-normalizer==3.4.3
dash==3.2.0
deprecated==1.2.18
flask-limiter==3.13
flask-mail==0.10.0
flatbuffers==25.2.10
gast==0.6.0
google-pasta==0.2.0
gunicorn==22.0.0
h5py==3.14.0
idna==3.10
importlib-metadata==8.7.0
joblib==1.5.2
keras==3.11.3
libclang==18.1.1
limits==5.5.0
markdown==3.9
markdown-it-py==4.0.0
mdurl==0.1.2
ml-dtypes==0.5.3
nest-asyncio==1.6.0
numpy==2.3.3
opt-einsum==3.4.0
optree==0.17.0
ordered-set==4.1.0
packaging==25.0
pandas==2.3.2
pillow==11.3.0
plotly==6.3.0
protobuf==6.32.1
pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
pyyaml==6.0.2
requests==2.32.5
retrying==1.4.2
rich==14.1.0
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
threadpoolctl==3.6.0
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wrapt==1.17.3
zipp==3.23.0
