section {
    display: block;
    width: 90%;
    margin: 20px auto;
}

section h1 {
    margin: 2rem 15px 2rem;
}

section h2 {
    margin: 2rem 30px 2rem;
}

section h3 {
    margin: 2rem 30px 2rem;
}

section p, small {
  margin: 0px 60px 1rem;  
}

.articles_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.card {
  display: flex;   
  flex-direction: column;
  justify-content: space-between;      
  width: 450px;
  min-height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: var(--header_color_1);
  text-decoration: none;      
  color: black;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

@media screen and (max-width: 1300px){
    .articles_cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {    
        width: 450px;
        min-height: 300px;
    }
}

.card:hover {
  transform: translateY(-5px); 
}

.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;

}

.card h2 {
  margin: 10px;
  font-size: 1.2rem;
}

.card p {
  margin: 0 10px 10px;
  color: #555;
}