<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" >
    <title>Articles Molynx | Data science, dashboards et intelligence artificielle</title>
    <meta name="description" content="Articles et ressources autour de la data science, des dashboards interactifs et des applications de l’IA dans la modélisation scientifique et l’industrie.">       
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages-articles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <a href="{{ url_for('home')}}" class="lien-icone">
                <img src="{{ url_for('static', filename='images/Logo_Molynx.png')}}" alt="Logo Molynx">
            </a>
            <button class="burger" aria-label="Menu">
                ☰
            </button>
            <div class="nav-links">
                <a href="{{ url_for('home')}}">Accueil</a>
                <a href="{{ url_for('services')}}">Services</a>
                <a href="{{ url_for('portfolio')}}">Portfolio</a>
                <a href="{{ url_for('articles')}}">Articles</a>
                <a href="{{ url_for('a_propos')}}">À propos</a>
            </div>
        </nav>
    </header>

    <main>

        <section>

            <h1>Publications scientifiques</h1>

            <div class="articles_cards">

                <a class="card" href="https://theses.fr/2023ULILR029" target="_blank">
                    <img src="{{ url_for('static', filename='images/thesis_screenshot.jpg')}}" alt="Aperçu de la thèse de Maxime Infuso">
                    <h2>Thèse de Maxime Infuso</h2>
                    <p>Unravelling the atmospheric iodine
                        chemistry using molecular simulations</p>
                </a>

                <a class="card" href="https://pubs.aip.org/aip/jcp/article-abstract/163/8/084303/3360292/Deep-potential-driven-molecular-dynamics-of-CO-ice" target="_blank">
                    <img src="{{ url_for('static', filename='images/cover_article.jpeg')}}" alt="Aperçu de l'article de M.Infuso et al.">
                    <h2>Deep potential-driven MD of CO ice analogs</h2>
                    <p>J. Chem. Phys. 163, 084303 (2025)</p>
                    <small>Image © AIP Publishing (highlight)</small>
                </a>

            </div>

        </section>

    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images/Logo_Molynx.png')}}" alt="Logo Molynx">
                <p>Data • IA • Modélisation</p>
            </div>

            <div class="footer-contact">
                <p>Email : <a href="mailto:contact@molynx.fr">contact@molynx.fr</a></p>
                <p>LinkedIn : <a href="#">linkedin.com/company/molynx</a></p>
                <p><a href="{{ url_for('mentions_legales')}}">Mentions légales</a></p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2025 Molynx. Tous droits réservés.</p>
        </div>
    </footer>


    <script>
  const burger = document.querySelector('.burger');
  const navLinks = document.querySelector('.nav-links');

  burger.addEventListener('click', () => {
    navLinks.classList.toggle('open');
  });
</script>

</body>