<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" >
    <title>Portfolio Molynx | Projets en data science, dashboards et IA</title>
    <meta name="description" content="Découvrez les projets réalisés par Molynx : dashboards interactifs, analyses de données complexes, modélisation scientifique par IA et applications concrètes en data science.">       
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages-portfolio.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <a href="{{ url_for('home')}}" class="lien-icone">
                <img src="{{ url_for('static', filename='images/Logo_Molynx.png')}}" alt="Logo Molynx">
            </a>
            <button class="burger" aria-label="Menu">
                ☰
            </button>
            <div class="nav-links">
                <a href="{{ url_for('home')}}">Accueil</a>
                <a href="{{ url_for('services')}}">Services</a>
                <a href="{{ url_for('portfolio')}}">Portfolio</a>
                <a href="{{ url_for('articles')}}">Articles</a>
                <a href="{{ url_for('a_propos')}}">À propos</a>
            </div>
        </nav>
    </header>

    <main>

        <section>

            <h1>Projets personnels</h1>

            <div class="projects_cards">

                <a class="card" href="/dashboard/dashboard_crypto/" target="_blank">
                    <img src="{{ url_for('static', filename='images/dashboard_crypto_mini.jpg')}}" alt="Miniature projet dashboard crypto">
                    <h2>Projet Crypto</h2>
                    <p>Dashboard informatif sur des cryptomonnaies + IA prédictive sur le Bitcoin</p>
                </a>

            </div>

        </section>

    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images/Logo_Molynx.png')}}" alt="Logo Molynx">
                <p>Data • IA • Modélisation</p>
            </div>

            <div class="footer-contact">
                <p>Email : <a href="mailto:contact@molynx.fr">contact@molynx.fr</a></p>
                <p>LinkedIn : <a href="#">linkedin.com/company/molynx</a></p>
                <p><a href="{{ url_for('mentions_legales')}}">Mentions légales</a></p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2025 Molynx. Tous droits réservés.</p>
        </div>
    </footer>


    <script>
  const burger = document.querySelector('.burger');
  const navLinks = document.querySelector('.nav-links');

  burger.addEventListener('click', () => {
    navLinks.classList.toggle('open');
  });
</script>

</body>